@use "../global_styles/variables" as *;
@use "../global_styles/mixins" as mix;
@use "../global_styles/media" as media;


/////// STYLES ///////

.section__content-block--footer {
  color: $white;

  /* mobile (portrait wide): (max-width: 640px) */
  @include media.maxMobilePortraitWide {
    align-items: flex-start !important;
  }
}

.footer__logo-heading {
  color: rgba(220, 220, 220, .8);
  font-size: var(--range_48-32_1280-641);
  margin-bottom: 0.5em;
}

.footer__logo-text {
  color: $white;
  margin-bottom: 1em;
}

.footer__contacts-block {
  font-size: var(--range_18-16_1280-641);
  max-width: 18em;  //max-width from local font-size (em)

  @include mix.flex-box(column, center, flex-start);

  gap: 0.5em;
}

.footer__content-block {
  flex-grow: 1;

  @include mix.flex-box(row, flex-end, center, wrap);
  gap: 0.5rem;

  /* mobile (portrait wide): (max-width: 640px) */
  @include media.maxMobilePortraitWide {
    display: none;
  }
}

.nav-link--footer {
  text-transform: uppercase;
}