@use "../global_styles/variables" as *;
@use "../global_styles/mixins" as mix;
@use "../global_styles/extends";
@use "../global_styles/media" as media;

/////// STYLES ///////

.header-layer {
  width: 100%;
  background: linear-gradient(to right, rgba(40, 32, 23, 1) 25%, $rgba_opacity-0 80%);

  /* tablet (portrait): (max-width: 1024px) */
  @include media.maxTabletPortrait {
    background: linear-gradient(to right, rgba(40, 32, 23, 1) 35%, $rgba_opacity-0 75%);
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include media.maxMobilePortraitWide {
    background: linear-gradient(to right, rgba(40, 32, 23, 1) 60%, rgba(101, 92, 82, .7) 100%);
    //background-color: rgba(40, 32, 23, .8);
  }
}

.header {
  //font-size: 1em; //parent font-size
  //font-size: var(--range_18-16_1280-641);
  position: relative;

  @extend %contentWrapper;  //it works ok...
  @include mix.flex-box(row, center, center, wrap);

  //gap: 0.5em 1em;
  gap: 0.625rem 1.125rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;

  /* tablet (portrait): (max-width: 1024px) */
  @include media.maxTabletPortrait {
    //font-size: 0.78em;
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include media.maxMobilePortraitWide {
    flex-direction: column;
    //font-size: 1em;
  }
}

.header__logo-heading {
  font-size: 1.75rem;
  //font-size: var(--range_28-21_1280-641);
  color: rgba(220, 220, 220, .5);

  /* tablet (portrait): (max-width: 1024px) */
  @include media.maxTabletPortrait {
    font-size: 1.5rem;
  }

  /* mobile (landscape): (max-width: 768px)*/
  @include media.maxMobileLandscape {
    font-size: 1.2rem;
  }
}

.header__contacts-wrapper {
  position: relative;
  z-index: 55;
  flex-grow: 1;

  @include mix.flex-box(row, flex-end, center, wrap);
  //gap: 0.5em;
}

.header__contacts-block {
  @include mix.flex-box(row, center, center, wrap);
  gap: 0.625rem 1.125rem;

  /* mobile (landscape): (max-width: 768px) and (min-width: 641px) */
  @include media.rangeMobileLandscape {
    column-gap: 0.5rem;
  }
}

.icon-link {
  font-size: var(--range_22-18_1280-641);
  text-decoration: none;
  transform-origin: 100% 50%;
  transition: transform 0.15s ease-in-out, text-shadow 0.15s ease-in-out;

  @include mix.flex-box(row, center, center, nowrap);
  gap: 4px;

  &:hover {
    transform: translateX(-0.3em);

    @include mix.text-shadow(0, 0.5em, rgba(255, 255, 255, 1));
  }

  &__phone-icon {
    width: 0.75em;
    fill: $color-01;
  }

  &__social-icon {
    width: 1.375rem;
  }

  &__text {
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;

    &.icon-link__text--phone {
      color: $color_01;
      //font-size: var(--range_22-18_1280-641);
      font-weight: 700;

      //@include mix.init-font(1.375rem, 700);

      /* mobile (landscape): (max-width: 768px)*/
/*      @include media.maxMobileLandscape {
        font-size: 1.2rem;
      }*/
    }

    &.icon-link__text--social-icon {
      color: $white;
      //@include mix.init-font(1em, 700);

      /* mobile (landscape): (max-width: 768px)*/
      @include media.maxMobileLandscape {
        font-size: 0.8em;
      }
    }
  }
}

.social-icons-wrapper {
  @include mix.flex-box(row, center, center, nowrap);
  gap: 8px;
}

.social-icons-wrapper__social-icon {
  width: 2.75rem;
  padding: 6px;

  @include mix.transition(transform);

  &:hover {
    transform: scale(1.1);
  }
}

#lang-switcher {
  position: relative;
  width: fit-content;
  height: fit-content;

  &:hover {
    #lang-list {
      transform: translateY(0);
    }

    .lang-switcher__lang-dropdown {
      visibility: visible;
      pointer-events: auto;
      transition-delay: 0s; /* Убираем задержку при показе */
    }
  }
}

.lang-switcher__lang-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none; /* Отключаем взаимодействие при скрытии */
  transition: visibility 0s 0.5s; /* Задержка 0.2s перед скрытием */
}

#lang-list {
  //padding: 0.6em 0;

  @include mix.flex-box(column, flex-start, center);
  gap: 0.6em;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.lang-switcher__lang-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #918578;
  color: $white;
  cursor: pointer;
  margin: 6px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease;

  &:not(.active):hover {
    background-color: $color-01-darken;
    transform: translateY(-3px);
  }

  @include mix.flex-box(row, center, center, nowrap);

  &.active {
    background-color: $color-01;
  }

  span {
    font-weight: 700;
  }
}

.header__nav {
  width: 100%;
  padding-top: .56rem;
  @include mix.flex-box(row, flex-end, center, wrap);

  /* mobile (landscape): (max-width: 768px)*/
  @include media.maxMobileLandscape {
    display: none;
  }

  &.abs {
    display: block;
    position: fixed;
    width: 100%;
    padding: 0;
    top: -110%;
    left: 0;
    z-index: 40;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(.2rem);

    /* mobile (landscape): (max-width: 768px)*/
    @include media.maxMobileLandscape {
      display: block;  //original header__nav with display: none;
    }

    .header__nav-list-wrapper {
      width: 100%;
      max-width: $maxContentWidth;
      margin: 0 auto;
      padding: 3rem 2.2rem .5rem;

      @include mix.flex-box(row, flex-end, center, wrap);

      /* mobile (portrait wide): (max-width: 640px) */
      @include media.maxMobilePortraitWide {
        font-size: 1.1rem;
        justify-content: center;
      }
    }

    .header__nav-list {

      /* tablet (portrait): (max-width: 1024px) */
      @include media.maxTabletPortrait {
        font-size: 0.78rem;
      }

      /* mobile (landscape): (max-width: 768px)*/
      @include media.maxMobileLandscape {
        max-width: 20rem;
        padding-bottom: 1rem;
        padding-top: 1rem;

        @include mix.flex-box(column, center, flex-end);
        column-gap: 0.5rem;
      }

      /* mobile (portrait wide): (max-width: 640px) */
      @include media.maxMobilePortraitWide {
        align-items: center;
        padding-top: 3rem;
      }

      /* mobile (medium): (max-width: 375px) */
      @include media.maxMobileMedium {
        padding-top: 5rem;
      }
    }
  }
}

.header__nav-list {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;

  @include mix.flex-box(row, center, center, wrap);
  gap: 0.5em .75em;
}

.nav-link {
  text-decoration: none;
  color: $color-01;
  cursor: default;

  @include mix.text-shadow(0.05em, 0.05em);
  @include mix.transition(transform);

  &:not(.active):hover {
    color: $color-01-darken;
    @include mix.text-shadow(0.07em, 0.07em);
    transform: translateY(-0.1em);
    cursor: pointer;
  }

  &.active {
    color: $color-01-darkest;
  }
}

.burger_nav {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 6px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 133, 2, 1);
  border-radius: 50%;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: rgba(255, 133, 2, 1);

    span, span:before, span:after {
      background-color: rgba(255, 255, 255, 1);
    }

    span:before {
      top: -7px;
    }

    span:after {
      top: 7px;
    }
  }

  &.hidden {
    display: none;

    /* mobile (landscape): (max-width: 768px)*/
    @include media.maxMobileLandscape {
      display: inline-block;
    }
  }

  &.opened {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(211, 3, 3, 1);

    span {
      background-color: transparent;
    }

    span:before, span:after {
      background-color: rgba(211, 3, 3, 1);
    }

    // Поворот псевдоэлементов
    span:before {
      transform: rotate(45deg);
      top: 0;  // Разместить по центру
    }
    span:after {
      transform: rotate(-45deg);
      top: 0;  // Разместить по центру
    }
  }

  span, span:before, span:after {
    position: absolute;
    display: inline-block;
    width: 1.1em;
    height: 0.19em;
    background-color: $color-01;
    transition: background-color, top, transform 0.2s ease-in-out;
  }

  span {
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);

    &:before, &:after {
      content: "";
      left: 0;
    }

    &:before {
      top: -5px;
    }
    &:after {
      top: 5px;
    }

  }
}

#scrolledNav {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, .2);
  backdrop-filter: blur(.2em);
}

.scrolledNav__contacts-block {
  width: 100%;
  max-width: $maxContentWidth;
  margin: 0 auto;
  padding: 0.4em 2em;

  @include mix.flex-box(row, flex-end, center, wrap);
  gap: 0.4em 1em;

  /* mobile (portrait narrow): (max-width: 480px)*/
  @include media.maxMobilePortraitNarrow {
    gap: 0.4em 0.7em;
  }

  /* mobile (medium): (max-width: 375px) */
  @include media.maxMobileMedium {
    @include mix.flex-box(row, center, center, wrap);
  }

  .icon-link {
    span {
      /* mobile (medium): (max-width: 375px) */
      @include media.maxMobileMedium {
        //font-size: 1.12em;
      }
    }
  }

  .icon-link__phone-icon {
    /* mobile (portrait narrow): (max-width: 480px)*/
    @include media.maxMobilePortraitNarrow {
      //width: 1.1em;
    }
  }

  .social-icons-wrapper__social-icon {
    /* mobile (portrait narrow): (max-width: 480px)*/
    @include media.maxMobilePortraitNarrow {
      //width: 1.5em;
    }
  }

  .burger_nav {
    /* mobile (medium): (max-width: 375px) */
    @include media.maxMobileMedium {
      //width: 1.5em;
      //height: 1.5em;
    }
  }
}

