
@@if (data && page && data[page] && data[page].main && data[page].main.benefits) {

<section class="section bg-darker" id="benefitsSection" aria-labelledby="our-benefits">
	<div class="section__content-layer">
		<div class="section__heading-block section__heading-block--separation" data-anime="fade-in-left">
			<h2 id="our-benefits">@@data.@@page.main.benefits.heading</h2>
			<hr>
		</div>
		<div class="section__img-wrapper section__img-wrapper--benefits" data-anime="scale-in">
			<img src="/assets/img/benefitsSection/professional_electrician_maintenance_1120x500.webp"
			     srcset="
				     /assets/img/benefitsSection/professional_electrician_maintenance_640x285.webp 640w,
				     /assets/img/benefitsSection/professional_electrician_maintenance_640x285@2x.webp 1280w,
					   /assets/img/benefitsSection/professional_electrician_maintenance_1120x500.webp 1120w,
					   /assets/img/benefitsSection/professional_electrician_maintenance_1120x500@2x.webp 2240w"
			     sizes="100vw"
			     width="1120"
			     height="500"
			     loading="lazy"
			     fetchpriority="low"
			     alt="Roller Shutters Maintenance"
			>
		</div>
		<div class="section__benefits">
			<div class="section__content-block section__content-block--row-center flex-gap-02-01">
				<div class="benefits-block-item" data-anime="fade-in-left">
					<div class="section__img-wrapper benefits-block-item__img-wrapper">
						<img src="/assets/img/svgIcons/quality.svg"
						     alt="High Quality Benefit"
						     width="85"
						     height="98"
						     loading="lazy"
						     decoding="async"
						>
					</div>
					<h5 class="benefits-block-item__heading">
						@@data.@@page.main.benefits.item_1.heading
					</h5>
					<div class="benefits-block-item__text-block">
						<p>@@data.@@page.main.benefits.item_1.p_1</p>
						<p>@@data.@@page.main.benefits.item_1.p_2</p>

						@@if (data[page].main.benefits.item_1.p_3) {
						<p>@@data.@@page.main.benefits.item_1.p_3</p>
						}
						@@if (data[page].main.benefits.item_1.p_4) {
						<p>@@data.@@page.main.benefits.item_1.p_4</p>
						}
					</div>
				</div>
				<div class="benefits-block-item" data-anime="fade-in-right">
					<div class="section__img-wrapper benefits-block-item__img-wrapper">
						<img src="/assets/img/svgIcons/personal.svg"
						     alt="Personal Approach Benefit"
						     width="85"
						     height="98"
						     loading="lazy"
						     decoding="async"
						>
					</div>
					<h5 class="benefits-block-item__heading">
						@@data.@@page.main.benefits.item_2.heading
					</h5>
					<div class="benefits-block-item__text-block">
						<p>@@data.@@page.main.benefits.item_2.p_1</p>
						<p>@@data.@@page.main.benefits.item_2.p_2</p>

						@@if (data[page].main.benefits.item_2.p_3) {
						<p>@@data.@@page.main.benefits.item_2.p_3</p>
						}
						@@if (data[page].main.benefits.item_2.p_4) {
						<p>@@data.@@page.main.benefits.item_2.p_4</p>
						}
					</div>
				</div>
			</div>
			<div class="section__content-block section__content-block--row-center flex-gap-02-01">
				<div class="benefits-block-item" data-anime="fade-in-left">
					<div class="section__img-wrapper benefits-block-item__img-wrapper">
						<img src="/assets/img/svgIcons/complex.svg"
						     alt="Complex Approach Benefit"
						     width="85"
						     height="98"
						     loading="lazy"
						     decoding="async"
						>
					</div>
					<h5 class="benefits-block-item__heading">
						@@data.@@page.main.benefits.item_3.heading
					</h5>
					<div class="benefits-block-item__text-block">
						<p>@@data.@@page.main.benefits.item_3.p_1</p>
						<p>@@data.@@page.main.benefits.item_3.p_2</p>

						@@if (data[page].main.benefits.item_3.p_3) {
						<p>@@data.@@page.main.benefits.item_3.p_3</p>
						}
						@@if (data[page].main.benefits.item_3.p_4) {
						<p>@@data.@@page.main.benefits.item_3.p_4</p>
						}
					</div>
				</div>
				<div class="benefits-block-item" data-anime="fade-in-right">
					<div class="section__img-wrapper benefits-block-item__img-wrapper">
						<img src="/assets/img/svgIcons/payment.svg"
						     alt="Flexible Payment Benefit"
						     width="85"
						     height="98"
						     loading="lazy"
						     decoding="async"
						>
					</div>
					<h5 class="benefits-block-item__heading">
						@@data.@@page.main.benefits.item_4.heading
					</h5>
					<div class="benefits-block-item__text-block">
						<p>@@data.@@page.main.benefits.item_4.p_1</p>
						<p>@@data.@@page.main.benefits.item_4.p_2</p>

						@@if (data[page].main.benefits.item_4.p_3) {
						<p>@@data.@@page.main.benefits.item_4.p_3</p>
						}
						@@if (data[page].main.benefits.item_4.p_4) {
						<p>@@data.@@page.main.benefits.item_4.p_4</p>
						}
					</div>
				</div>
			</div>
			<div class="section__content-block section__content-block--row-center flex-gap-02-01">
				<div class="benefits-block-item" data-anime="fade-in-left">
					<div class="section__img-wrapper benefits-block-item__img-wrapper">
						<img src="/assets/img/svgIcons/24_7_icon.svg"
						     alt="24/7 Working Hours Benefit"
						     width="85"
						     height="98"
						     loading="lazy"
						     decoding="async"
						>
					</div>
					<h5 class="benefits-block-item__heading">
						@@data.@@page.main.benefits.item_5.heading
					</h5>
					<div class="benefits-block-item__text-block">
						<p>@@data.@@page.main.benefits.item_5.p_1</p>
						<p>@@data.@@page.main.benefits.item_5.p_2</p>

						@@if (data[page].main.benefits.item_5.p_3) {
						<p>@@data.@@page.main.benefits.item_5.p_3</p>
						}
						@@if (data[page].main.benefits.item_5.p_4) {
						<p>@@data.@@page.main.benefits.item_5.p_4</p>
						}
					</div>
				</div>
				<div class="benefits-block-item" data-anime="fade-in-right">
					<div class="section__img-wrapper benefits-block-item__img-wrapper">
						<img src="/assets/img/svgIcons/proff_icon.svg"
						     alt="Professional Benefit"
						     width="85"
						     height="98"
						     loading="lazy"
						     decoding="async"
						>
					</div>
					<h5 class="benefits-block-item__heading">
						@@data.@@page.main.benefits.item_6.heading
					</h5>
					<div class="benefits-block-item__text-block">
						<p>@@data.@@page.main.benefits.item_6.p_1</p>
						<p>@@data.@@page.main.benefits.item_6.p_2</p>

						@@if (data[page].main.benefits.item_6.p_3) {
						<p>@@data.@@page.main.benefits.item_6.p_3</p>
						}
						@@if (data[page].main.benefits.item_6.p_4) {
						<p>@@data.@@page.main.benefits.item_6.p_4</p>
						}
					</div>
				</div>
			</div>
			<div class="section__content-block section__content-block--row-center flex-gap-02-01">
				<div class="benefits-block-item" data-anime="fade-in-left">
					<div class="section__img-wrapper benefits-block-item__img-wrapper">
						<img src="/assets/img/svgIcons/spare_parts_icon.svg"
						     alt="Spare Parts Benefit"
						     width="85"
						     height="98"
						     loading="lazy"
						     decoding="async"
						>
					</div>
					<h5 class="benefits-block-item__heading">
						@@data.@@page.main.benefits.item_7.heading
					</h5>
					<div class="benefits-block-item__text-block">
						<p>@@data.@@page.main.benefits.item_7.p_1</p>
						<p>@@data.@@page.main.benefits.item_7.p_2</p>

						@@if (data[page].main.benefits.item_7.p_3) {
						<p>@@data.@@page.main.benefits.item_7.p_3</p>
						}
						@@if (data[page].main.benefits.item_7.p_4) {
						<p>@@data.@@page.main.benefits.item_7.p_4</p>
						}
					</div>
				</div>
				<div class="benefits-block-item" data-anime="fade-in-right">
					<div class="section__img-wrapper benefits-block-item__img-wrapper">
						<img src="/assets/img/svgIcons/warranty_icon.svg"
						     alt="Warranty Benefit"
						     width="85"
						     height="98"
						     loading="lazy"
						     decoding="async"
						>
					</div>
					<h5 class="benefits-block-item__heading">
						@@data.@@page.main.benefits.item_8.heading
					</h5>
					<div class="benefits-block-item__text-block">
						<p>@@data.@@page.main.benefits.item_8.p_1</p>
						<p>@@data.@@page.main.benefits.item_8.p_2</p>

						@@if (data[page].main.benefits.item_8.p_3) {
						<p>@@data.@@page.main.benefits.item_8.p_3</p>
						}
						@@if (data[page].main.benefits.item_8.p_4) {
						<p>@@data.@@page.main.benefits.item_8.p_4</p>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

}