<footer class="section section--footer section-parallax-layer" >
  <!--Using <picture> for various image compositions with different aspect-ratio-->
  <!--retina is omitted for the hero background-->
  <picture class="section-parallax__bg section-parallax__bg--height-origin" data-anime="footer">
    <!-- mobile (portrait wide): (max-width: 640px) (vertical composition)-->
    <source
        media="(max-width: 640px)"
        srcset="/assets/img/footerSection/professional_640x524.webp"
    >

    <!-- tablet (portrait): (max-width: 1024px) (horizontal composition)-->
    <source
        media="(max-width: 1024px)"
        srcset="/assets/img/footerSection/professional_1024x524.webp"
    >

    <!-- tablet (portrait): (min-width: 1025px) and wider (horizontal composition)-->
    <source
        srcset="/assets/img/footerSection/professional_1440x524.webp"
    >
    <!-- fallback with img -->
    <img
        src="/assets/img/footerSection/professional_1440x524.webp"
        loading="lazy"
        decoding="async"
        fetchpriority="low"
        width="1440"
        height="524"
        alt="Window Roller Shutters"
    >
  </picture>

  <div class="section__content-layer" >
    @@if (page && data && data[page] && data[page].footer) {

    <h2 class="footer__logo-heading">@@data.@@page.footer.logo-heading</h2>
    <div
        class="section__content-block section__content-block--footer flex-gap-02-01"
        data-type="fade-in-up"
    >
      <div class="footer__contacts-block" >
        <div class="footer__content-block-item">

          <p class="footer__logo-text">@@data.@@page.footer.logo-text</p>
        </div>
        <div class="footer__content-block-item" aria-label="Communication options">

          <a href="tel:380991019368"
             aria-label="Mobile connection with the master"
             class="icon-link icon-link--footer"
             tabindex="0"
          >
            <div class="icon-link__phone-icon">
              <svg viewBox="0 0 24 25">
                <title>phone icon</title>
                <use xlink:href="/assets/img/svgIcons/sprite.mono.svg#phone"></use>
              </svg>
            </div>
            <span class="icon-link__text icon-link__text--phone">+38 (099) 101 93 68</span>
          </a>
          <a href="viber://chat?number=+380991019368"
             aria-label="Contact the master via Viber"
             class="icon-link icon-link--footer"
             tabindex="0"
          >
            <div class="icon-link__social-icon">
              <svg viewBox="0 0 48 48">
                <title>viber icon</title>
                <use xlink:href="/assets/img/svgIcons/sprite.multi.svg#viber"></use>
              </svg>
            </div>
            <span class="icon-link__text icon-link__text--social-icon">+38 (099) 101 93 68</span>
          </a>
          <a href="https://t.me/username"
             target="_blank"
             aria-label="Contact the master via Telegram"
             rel="noopener noreferrer nofollow"
             class="icon-link icon-link--footer"
             tabindex="0"
          >
            <div class="icon-link__social-icon">
              <svg viewBox="0 0 240 240">
                <title>telegram icon</title>
                <use xlink:href="/assets/img/svgIcons/sprite.multi.svg#telegram"></use>
              </svg>
            </div>
            <span class="icon-link__text icon-link__text--social-icon">+38 (099) 101 93 68</span>
          </a>

        </div>
      </div>
      <div class="footer__content-block">
        <div class="footer__content-block-item">
          <nav class="footer__nav" aria-label="@@data.@@page.header.nav_label">
            <ul class="nav-list nav-list--footer">
              @@include("./nav-list.html", {"page": "@@page", "addClass": "nav-link--footer"})
            </ul>
          </nav>
        </div>
      </div>
      }
    </div>
  </div>
</footer>