<footer class="section section--footer section-parallax-layer" >
  <!--Using <picture> for various image compositions with different aspect-ratio-->
  <!--retina is omitted for the hero background-->
  <picture class="section-parallax__bg section-parallax__bg--height-origin" data-anime="footer">
    <!-- mobile (portrait wide): (max-width: 640px) (vertical composition)-->
    <source
        media="(max-width: 640px)"
        srcset="/assets/img/footerSection/professional_640x524.webp"
    >

    <!-- tablet (portrait): (max-width: 1024px) (horizontal composition)-->
    <source
        media="(max-width: 1024px)"
        srcset="/assets/img/footerSection/professional_1024x524.webp"
    >

    <!-- tablet (portrait): (min-width: 1025px) and wider (horizontal composition)-->
    <source
        srcset="/assets/img/footerSection/professional_1440x524.webp"
    >
    <!-- fallback with img -->
    <img
        src="/assets/img/footerSection/professional_1440x524.webp"
        loading="lazy"
        decoding="async"
        width="1440"
        height="524"
        alt="Window Roller Shutters"
    >
  </picture>

  <div class="section__content-layer" >
    @@if (page && data && data[page] && data[page].footer) {

    <h2 class="footer__logo-heading">@@data.@@page.footer.logo-heading</h2>
    <div
        class="section__content-block section__content-block--footer flex-gap-02-01"
        data-type="fade-in-up"
    >
      <div class="footer__contacts-block" >
        <p class="footer__logo-text">@@data.@@page.footer.logo-text</p>

        @@include("./icon-link--phone.html", {"page": "@@page"})
        @@include("./icon-link--viber.html", {"page": "@@page", "innerSpan": "@@data.@@page.header.contacts-block.mobile_span"})
        @@include("./icon-link--telegram.html", {"page": "@@page", "innerSpan": "@@data.@@page.header.contacts-block.mobile_span"})

      </div>
      <div class="footer__content-block">
        <nav class="footer__nav" aria-label="@@data.@@page.header.nav_label">
          <ul class="nav-list nav-list--footer">
            @@include("./nav-list.html", {"page": "@@page", "addClass": "nav-link--footer"})
          </ul>
        </nav>
      </div>
      }
    </div>
  </div>
</footer>