@@if (data && page && data[page].main.gallery) {

<section class="section bg-darker" aria-labelledby="our-gallery">
	<div class="section__content-layer">
		<div class="section__heading-block section__heading-block--separation" data-anime="fade-in-left">
			<h2 id="our-gallery">@@data.@@page.main.gallery.heading</h2>
			<hr>
		</div>
		<div id="gallery-work">
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/blackout-blinds_1.webp"
						alt="жалюзи блэкаут"
						loading="lazy"
						decoding="async"
						width="480"
						height="853"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img src="/assets/img/gallery/thumbs/collapsible-security-booth_1.webp"
				     alt="складывающийся бокс"
				     loading="lazy"
				     decoding="async"
				     width="480"
				     height="420"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img src="/assets/img/gallery/thumbs/collapsible-security-booth_2.webp"
				     alt="складывающийся бокс"
				     loading="lazy"
				     decoding="async"
				     width="480"
				     height="382"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img src="/assets/img/gallery/thumbs/collapsible-security-booth_3.webp"
				     alt="складывающийся бокс"
				     loading="lazy"
				     decoding="async"
				     width="480"
				     height="317"

				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img src="/assets/img/gallery/thumbs/collapsible-security-booth_4.webp"
				     alt="складывающийся бокс"
				     loading="lazy"
				     decoding="async"
				     width="480"
				     height="405"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/electric-gate_1.webp"
						alt="автоматические ворота"
						loading="lazy"
						decoding="async"
						width="480"
						height="414"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/electric-gate_2.webp"
						alt="автоматические ворота"
						loading="lazy"
						decoding="async"
						width="480"
						height="297"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/electric-gate_3.webp"
						alt="автоматические ворота"
						loading="lazy"
						decoding="async"
						width="480"
						height="235"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/electric-gate_4.webp"
						alt="автоматические ворота"
						loading="lazy"
						decoding="async"
						width="480"
						height="332"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/electric-insect-screen_1.webp"
						alt="маскитная сетка"
						loading="lazy"
						decoding="async"
						width="480"
						height="853"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/electric-insect-screen_2.webp"
						alt="электроприводная маскитная сетка"
						loading="lazy"
						decoding="async"
						width="480"
						height="288"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/garage-roller-shutters_1.webp"
						alt="гаражные роллетные ворота"
						loading="lazy"
						decoding="async"
						width="480"
						height="337"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/gate-profile_1.webp"
						alt="профиль для ворот"
						loading="lazy"
						decoding="async"
						width="480"
						height="527"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/remote-controller_1.webp"
						alt="дистанционный пульт"
						loading="lazy"
						decoding="async"
						width="480"
						height="563"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/remote-controller_2.webp"
						alt="дистанционный пульт"
						loading="lazy"
						decoding="async"
						width="480"
						height="506"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters_1.webp"
						alt="защитные роллеты"
						loading="lazy"
						decoding="async"
						width="480"
						height="270"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters_2.webp"
						alt="защитные роллеты"
						loading="lazy"
						decoding="async"
						width="480"
						height="853"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-installation_1.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="381"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-installation_2.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="419"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-installation_3.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="360"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-installation_4.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="360"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-installation_5.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="360"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-installation_6.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="270"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-installation_7.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="270"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-profile_1.webp"
						alt="профиль защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="853"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-profile_2.webp"
						alt="профиль защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="335"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-repair_1.webp"
						alt="ремонт защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="360"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-repair_2.webp"
						alt="ремонт защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="640"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-repair_3.webp"
						alt="ремонт защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="360"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutters-repair_4.webp"
						alt="ремонт защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="270"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/roller-shutter-swatches_1.webp"
						alt="образцы защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="853"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters_1.webp"
						alt="защитные роллеты"
						loading="lazy"
						decoding="async"
						width="480"
						height="270"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters_2.webp"
						alt="защитные роллеты"
						loading="lazy"
						decoding="async"
						width="480"
						height="270"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters-installation_1.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="360"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters-installation_2.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="640"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters-installation_3.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="270"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters-installation_4.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="270"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters-installation_5.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="853"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters-installation_6.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="270"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters-installation_7.webp"
						alt="установка защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="445"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters-repair_1.webp"
						alt="ремонт защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="410"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters-repair_2.webp"
						alt="ремонт защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="407"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters-repair_3.webp"
						alt="ремонт защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="283"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/security-shutters-repair_4.webp"
						alt="ремонт защитных роллет"
						loading="lazy"
						decoding="async"
						width="480"
						height="344"
				>
			</div>
			<div class="section__img-wrapper gallery__item">
				<img
						src="/assets/img/gallery/thumbs/welding-gates_1.webp"
						alt="сварные работы"
						loading="lazy"
						decoding="async"
						width="480"
						height="245"
				>
			</div>
		</div>
	</div>
</section>

}