<div class="header-layer">
<!--data is accessed from context.data of "gulp-file-include"-->
    @@if (data && page && data[page].header) {

    <header class="header" role="banner">
        <h2 class="header__logo-heading">@@data.@@page.header.header__logo-heading</h2>
        <div class="header__contacts-wrapper" aria-label="@@data.@@page.header.header__contacts-wrapper_label">
            <div class="header__contacts-block">
                <a href="@@data.@@page.header.header__contacts-block.mobile"
                   aria-label="@@data.@@page.header.header__contacts-block.mobile_label"
                   class="icon-link"
                   tabindex="0"
                >
                    <div class="icon-link__phone-icon">
                        <svg viewBox="0 0 24 25">
                            <title>phone icon</title>
                            <use xlink:href="/assets/img/svgIcons/sprite.mono.svg#phone"></use>
                        </svg>
                    </div>
                    <span class="icon-link__text icon-link__text--phone">@@data.@@page.header.header__contacts-block.mobile_span</span>
                </a>
                <div class="social-icons-wrapper">
                    <a href="@@data.@@page.header.header__contacts-block.viber"
                       aria-label="@@data.@@page.header.header__contacts-block.viber_label"
                       class="social-icons-wrapper__social-icon"
                       tabindex="0"
                    >
                        <svg viewBox="0 0 48 48">
                            <title>viber icon</title>
                            <use xlink:href="/assets/img/svgIcons/sprite.multi.svg#viber"></use>
                        </svg>
                    </a>
                    <a href="@@data.@@page.header.header__contacts-block.telegram"
                       target="_blank"
                       aria-label="@@data.@@page.header.header__contacts-block.telegram_label"
                       rel="noopener noreferrer nofollow"
                       class="social-icons-wrapper__social-icon"
                       tabindex="0"
                    >
                        <svg viewBox="0 0 240 240">
                            <title>telegram icon</title>
                            <use xlink:href="/assets/img/svgIcons/sprite.multi.svg#telegram"></use>
                        </svg>
                    </a>

                    <div id="lang-switcher" role="combobox" aria-haspopup="listbox">
                        <div class="lang-switcher__lang-icon active"
                             role="button"
                             aria-expanded="false"
                             aria-controls="lang-list"
                             data-lang="@@data.@@page.main.lang">
                            <span>@@data.@@page.main.lang</span>
                        </div>
                        <div class="lang-switcher__lang-dropdown">
                            <ul id="lang-list" role="listbox"></ul>
                        </div>
                    </div>

                    <button
                        class="burger_nav hidden"
                        aria-label="@@data.@@page.header.header__nav_label"
                        aria-expanded="false"
                        tabindex="0">
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="header__nav" aria-label="@@data.@@page.header.header__nav_label">
            @@include("./header__nav-list.html", {"page": "@@page"})
        </nav>
    </header>
    }
</div>