<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  @@if (data && page && data[page].head) {
  <meta name="description" content="@@data.@@page.head.description">
  <meta name="robots" content="@@data.@@page.head.robots">

  @@if (data[page].head.canonical) {
  @@data.@@page.head.canonical
  }

  @@if (data[page].head.alternate) {
  @@data.@@page.head.alternate
  }

  @@if (data[page].head.default) {
  @@data.@@page.head.default
  }

  <title>@@data.@@page.head.title</title>

  @@if (data[page].head.stylesheet) {
  @@data.@@page.head.stylesheet
  }

  @@if (data[page].head.scriptSource) {
  @@data.@@page.head.scriptSource
  }
  }

  <link rel="shortcut icon" sizes="24x24" href="/assets/img/24_7_24x24.ico" type="image/x-icon">
  <link rel="shortcut icon" sizes="32x32" href="/assets/img/24_7_32x32.ico" type="image/x-icon">
  <link rel="shortcut icon" sizes="48x48" href="/assets/img/24_7_48x48.ico" type="image/x-icon">
  <link rel="preload" href="/assets/fonts/Roboto/Roboto-Bold.woff2" as="font" type="font/woff2" crossorigin>
</head>