<div class="header-layer">

    @@if (data && page && data[page].header) {

    <header class="header" role="banner">
        <h2 class="header__logo-heading">@@data.@@page.header.header__logo-heading</h2>
        <div class="header__contacts-wrapper" aria-label="@@data.@@page.header.header__contacts-wrapper_label">
            <div class="header__contacts-block">
                <a href="@@data.@@page.header.header__contacts-block_mobile"
                   aria-label="@@data.@@page.header.header__contacts-block_mobile_label"
                   class="icon-link"
                   tabindex="0"
                >
                    <div class="icon-link__phone-icon">
                        <svg viewBox="0 0 24 25">
                            <title>phone icon</title>
                            <use xlink:href="/assets/img/svgIcons/sprite.mono.svg#phone"></use>
                        </svg>
                    </div>
                    <span class="icon-link__text icon-link__text--phone">@@data.@@page.header.header__contacts-block_mobile_span</span>
                </a>
                <div class="social-icons-wrapper">
                    <a href="@@data.@@page.header.header__contacts-block_viber"
                       aria-label="@@data.@@page.header.header__contacts-block_viber_label"
                       class="social-icons-wrapper__social-icon"
                       tabindex="0"
                    >
                        <svg viewBox="0 0 48 48">
                            <title>viber icon</title>
                            <use xlink:href="/assets/img/svgIcons/sprite.multi.svg#viber"></use>
                        </svg>
                    </a>
                    <a href="@@data.@@page.header.header__contacts-block_telegram"
                       target="_blank"
                       aria-label="@@data.@@page.header.header__contacts-block_telegram_label"
                       rel="noopener noreferrer nofollow"
                       class="social-icons-wrapper__social-icon"
                       tabindex="0"
                    >
                        <svg viewBox="0 0 240 240">
                            <title>telegram icon</title>
                            <use xlink:href="/assets/img/svgIcons/sprite.multi.svg#telegram"></use>
                        </svg>
                    </a>
                    <div id="lang-switcher" role="combobox" aria-haspopup="listbox">
                        <div class="lang-switcher__lang-icon active"
                             role="button"
                             aria-expanded="false"
                             aria-controls="lang-list"
                             data-lang="@@data.@@page.main.lang">
                            <span>@@data.@@page.main.lang</span>
                        </div>
                        <div class="lang-switcher__lang-dropdown">
                            <ul id="lang-list" role="listbox"></ul>
                        </div>
                    </div>
                    <button
                        class="burger_nav hidden"
                        aria-label="@@data.@@page.header.header__nav_label"
                        aria-expanded="false"
                        tabindex="0">
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="header__nav" aria-label="@@data.@@page.header.header__nav_label">
            <ul class="header__nav-list">
                <li><a href="./index.html"
                       class="nav-link"
                       aria-label="@@data.@@page.header.nav-link_main"
                       tabindex="0"
                       data-type="index">
                    @@data.@@page.header.nav-link_main
                </a></li>
                <li><a href="./gates-installation-repair.html"
                       class="nav-link"
                       aria-label="@@data.@@page.header.nav-link_gates"
                       tabindex="0"
                       data-type="gates">
                    @@data.@@page.header.nav-link_gates
                </a></li>
                <li><a href="./rollers-installation-repair.html"
                       class="nav-link"
                       aria-label="@@data.@@page.header.nav-link_rollers"
                       tabindex="0"
                       data-type="rollers">
                    @@data.@@page.header.nav-link_rollers
                </a></li>
                <li><a href="./gates-rollers-automation.html"
                       class="nav-link"
                       aria-label="@@data.@@page.header.nav-link_automation"
                       tabindex="0"
                       data-type="automation">
                    @@data.@@page.header.nav-link_automation
                </a></li>
                <li><a href="./barriers-installation-repair.html"
                       class="nav-link"
                       aria-label="@@data.@@page.header.nav-link_barriers"
                       tabindex="0"
                       data-type="barriers">
                    @@data.@@page.header.nav-link_barriers
                </a></li>
                <li><a href="./awnings-installation-repair.html"
                       class="nav-link"
                       aria-label="@@data.@@page.header.nav-link_awnings"
                       tabindex="0"
                       data-type="awnings">
                    @@data.@@page.header.nav-link_awnings
                </a></li>
                <li><a href="./window-settings-repair.html"
                       class="nav-link"
                       aria-label="@@data.@@page.header.nav-link_windows"
                       tabindex="0"
                       data-type="windows">
                    @@data.@@page.header.nav-link_windows
                </a></li>
                <li><a href="./security-installation-maintenance.html"
                       class="nav-link"
                       aria-label="@@data.@@page.header.nav-link_security"
                       tabindex="0"
                       data-type="security">
                    @@data.@@page.header.nav-link_security
                </a></li>
            </ul>
        </nav>
    </header>
    }
</div>