
@@if (data && page && data[page].header) {

<ul class="header__nav-list">
	<li><a href="./index.html"
	       class="nav-link"
	       aria-label="@@data.@@page.header.nav-link_main"
	       tabindex="0"
	       data-type="index">
		@@data.@@page.header.nav-link_main
	</a></li>
	<li><a href="./gates-installation-repair.html"
	       class="nav-link"
	       aria-label="@@data.@@page.header.nav-link_gates"
	       tabindex="0"
	       data-type="gates">
		@@data.@@page.header.nav-link_gates
	</a></li>
	<li><a href="./rollers-installation-repair.html"
	       class="nav-link"
	       aria-label="@@data.@@page.header.nav-link_rollers"
	       tabindex="0"
	       data-type="rollers">
		@@data.@@page.header.nav-link_rollers
	</a></li>
	<li><a href="./gates-rollers-automation.html"
	       class="nav-link"
	       aria-label="@@data.@@page.header.nav-link_automation"
	       tabindex="0"
	       data-type="automation">
		@@data.@@page.header.nav-link_automation
	</a></li>
	<li><a href="./barriers-installation-repair.html"
	       class="nav-link"
	       aria-label="@@data.@@page.header.nav-link_barriers"
	       tabindex="0"
	       data-type="barriers">
		@@data.@@page.header.nav-link_barriers
	</a></li>
	<li><a href="./awnings-installation-repair.html"
	       class="nav-link"
	       aria-label="@@data.@@page.header.nav-link_awnings"
	       tabindex="0"
	       data-type="awnings">
		@@data.@@page.header.nav-link_awnings
	</a></li>
	<li><a href="./window-settings-repair.html"
	       class="nav-link"
	       aria-label="@@data.@@page.header.nav-link_windows"
	       tabindex="0"
	       data-type="windows">
		@@data.@@page.header.nav-link_windows
	</a></li>
	<li><a href="./security-installation-maintenance.html"
	       class="nav-link"
	       aria-label="@@data.@@page.header.nav-link_security"
	       tabindex="0"
	       data-type="security">
		@@data.@@page.header.nav-link_security
	</a></li>
</ul>

}