
@@if (data && page && data[page].header) {

<a href="@@data.@@page.header.contacts-block.telegram"
   target="_blank"
   aria-label="@@data.@@page.header.contacts-block.telegram_label"
   rel="noopener noreferrer nofollow"
   class="social-icons-wrapper__social-icon"
   tabindex="0"
>
	<svg viewBox="0 0 240 240">
		<title>telegram icon</title>
		<use xlink:href="/assets/img/svgIcons/sprite.multi.svg#telegram"></use>
	</svg>
	@@if (innerSpan) {
	<span class="icon-link__text icon-link__text--phone">@@innerSpan</span>
	}
</a>

}