
@@if (page) {

<li>
	@@include("./nav-list-item.html", {
	page: "@@page",
	type: "index",

	@@if (typeof addClass !== 'undefined' && addClass) {
	addClass: "nav-link @@addClass"
	}
	@@if (typeof addClass === 'undefined' || !addClass) {
	addClass: "nav-link"
	}

	})
</li>
<li>
	@@include("./nav-list-item.html", {
	page: "@@page",
	type: "gates",

	@@if (typeof addClass !== 'undefined' && addClass) {
	addClass: "nav-link @@addClass"
	}
	@@if (typeof addClass === 'undefined' || !addClass) {
	addClass: "nav-link"
	}

	})
</li>
<li>
	@@include("./nav-list-item.html", {
	"page": "@@page",
	type: "rollers",

	@@if (typeof addClass !== 'undefined' && addClass) {
	addClass: "nav-link @@addClass"
	}
	@@if (typeof addClass === 'undefined' || !addClass) {
	addClass: "nav-link"
	}

	})
</li>
<li>
	@@include("./nav-list-item.html", {
	"page": "@@page",
	type: "automation",

	@@if (typeof addClass !== 'undefined' && addClass) {
	addClass: "nav-link @@addClass"
	}
	@@if (typeof addClass === 'undefined' || !addClass) {
	addClass: "nav-link"
	}

	})
</li>
<li>
	@@include("./nav-list-item.html", {
	"page": "@@page",
	type: "barriers",

	@@if (typeof addClass !== 'undefined' && addClass) {
	addClass: "nav-link @@addClass"
	}
	@@if (typeof addClass === 'undefined' || !addClass) {
	addClass: "nav-link"
	}

	})
</li>
<li>
	@@include("./nav-list-item.html", {
	"page": "@@page",
	type: "awnings",

	@@if (typeof addClass !== 'undefined' && addClass) {
	addClass: "nav-link @@addClass"
	}
	@@if (typeof addClass === 'undefined' || !addClass) {
	addClass: "nav-link"
	}

	})
</li>
<li>
	@@include("./nav-list-item.html", {
	"page": "@@page",
	type: "windows",

	@@if (typeof addClass !== 'undefined' && addClass) {
	addClass: "nav-link @@addClass"
	}
	@@if (typeof addClass === 'undefined' || !addClass) {
	addClass: "nav-link"
	}

	})
</li>
<li>
	@@include("./nav-list-item.html", {
	"page": "@@page",
	type: "security",

	@@if (typeof addClass !== 'undefined' && addClass) {
	addClass: "nav-link @@addClass"
	}
	@@if (typeof addClass === 'undefined' || !addClass) {
	addClass: "nav-link"
	}

	})
</li>

}