@@if (data && page && data[page].main.partners) {

<section class="section" aria-labelledby="our-brands">
	<div class="section__content-layer">
		<div class="section__heading-block section__heading-block--separation" data-anime="fade-in-left">
			<h2 id="our-brands">@@data.@@page.main.partners.heading</h2>
			<hr>
			<p class="sub-p">@@data.@@page.main.partners.p_1</p>
		</div>
		<div class="logo-wrapper" data-anime="fade-in-up">
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Alutech_mini.webp"
				     alt="Alutech Logo"
				     loading="lazy"
				     decoding="async"
				     width="199"
				     height="253"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/AnMotors_mini.webp"
				     alt="AnMotors Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="200"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/BFT_mini.webp"
				     alt="BFT Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="200"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Came_mini.webp"
				     alt="Came Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="190"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Comunello_mini.webp"
				     alt="Comunello Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="200"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/DoorHan_mini.webp"
				     alt="DoorHan Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="200"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Edinger_mini.webp"
				     alt="Edinger Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="120"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/FAAC_mini.webp"
				     alt="FAAC Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="130"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Gant_mini.webp"
				     alt="Gant Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="200"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Hormann_mini.webp"
				     alt="Hormann Logo"
				     loading="lazy"
				     decoding="async"
				     width="229"
				     height="220"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Kruzik_mini.webp"
				     alt="Kruzik Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="200"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Marantec_mini.webp"
				     alt="Marantec Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="200"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Miller_mini.webp"
				     alt="Miller Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="68"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Nice_mini.webp"
				     alt="Nice Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="200"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Roger_mini.webp"
				     alt="Roger Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="200"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Rotelli_mini.webp"
				     alt="Rotelli Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="144"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Sommer_mini.webp"
				     alt="Sommer Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="203"
				>
			</div>
			<div class="section__img-wrapper logo-wrapper__item">
				<img src="/assets/img/logoSection/Steelon_mini.webp"
				     alt="Steelon Logo"
				     loading="lazy"
				     decoding="async"
				     width="200"
				     height="200"
				>
			</div>
		</div>
	</div>
</section>

}