
@@if (data && page && data[page].header) {
<div id="scrolledNav">
	<div class="scrolledNav__contacts-block">

		@@include("./icon-link--phone.html", {"page": "@@page"})

		<div class="social-icons-wrapper">
			@@include("./icon-link--viber.html", {"page": "@@page"})

			@@include("./icon-link--telegram.html", {"page": "@@page"})

			<button
					class="burger_nav"
					aria-label="@@data.@@page.header.nav_label"
					aria-expanded="false"
					tabindex="0">
				<span></span>
			</button>
		</div>
	</div>
</div>
}


