@@if (data && page && data[page].main.services) {

<section class="section section-parallax-layer section--services" aria-labelledby="services-group"
	<!--Using <picture> for various image compositions with different aspect-ratio-->
	<!--retina is omitted for the hero background-->
	<picture class="section-parallax__bg" data-anime="services">
		<!-- mobile (small): (max-width: 320px) (vertical composition)-->
		<source
				media="(max-width: 320px)"
				srcset="/assets/img/servicesSection/window_roller_shutters_320x1220.webp"
		>

		<!-- mobile (medium): (max-width: 375px) (vertical composition)-->
		<source
				media="(max-width: 375px)"
				srcset="/assets/img/servicesSection/window_roller_shutters_375x1255.webp"
		>

		<!-- mobile (portrait narrow): (max-width: 480px) (vertical composition)-->
		<source
				media="(max-width: 480px)"
				srcset="/assets/img/servicesSection/window_roller_shutters_480x1260.webp"
		>

		<!-- mobile (portrait wide): (max-width: 640px) (vertical composition)-->
		<source
				media="(max-width: 640px)"
				srcset="/assets/img/servicesSection/window_roller_shutters_640x1280.webp"
		>

		<!-- mobile (landscape): (max-width: 768px) (horizontal composition)-->
		<source
				media="(max-width: 768px)"
				srcset="/assets/img/servicesSection/window_roller_shutters_768x1020.webp"
		>

		<!-- tablet (portrait): (max-width: 1024px) (horizontal composition)-->
		<source
				media="(max-width: 1024px)"
				srcset="/assets/img/servicesSection/window_roller_shutters_1024x910.webp"
		>

		<!-- tablet (portrait): (min-width: 1025px) and wider (horizontal composition)-->
		<source
				srcset="/assets/img/servicesSection/window_roller_shutters_1440x1015.webp"
		>
		<!-- fallback with img -->
		<img
				src="/assets/img/servicesSection/window_roller_shutters_1440x1015.webp"
				loading="lazy"
				decoding="async"
				fetchpriority="low"
				width="1440"
				height="1015"
				alt="Window Roller Shutters"
		>
	</picture>

	<div class="section__content-layer section__content-layer--services">
		<div class="section__heading-block section__heading-block--separation" data-anime="fade-in-left">
			<h2 id="services-group">@@data.@@page.main.services.heading</h2>
			<hr>
		</div>
		<div class="section__content-block section__content-block--row-left">
			<div class="section__text-block section__text-block--services" data-anime="fade-in-up">
				<p>@@data.@@page.main.services.p_1</p>
				<p>@@data.@@page.main.services.p_2</p>

				@@if (data?[page]?.main?.services?.p_3) {
				<p>@@data.@@page.main.services.p_3</p>
				}
				@@if (data?[page]?.main?.services?.p_4) {
				<p>@@data.@@page.main.services.p_4</p>
				}
			</div>
		</div>
		<div class="section__content-block section__content-block--row-right">
			<div class="hexagon-services-wrapper" data-anime="scale-in">
				<p class="hexagon-services-wrapper__heading">@@data.@@page.main.services.hexagon.heading</p>
				<nav class="hexagon-comb-block" aria-label="Services navigation">
					<a href="./gates-installation-repair.html"
					   class="hexagon-comb-block__cell"
					   title="@@data.@@page.main.services.hexagon.title"
					   aria-label="Navigate to gates installation services"
					   tabindex="0"
					   data-type="gates"
					>
						<div class="hexagon-comb-block__cell-inner">
							<img
									src="/assets/img/servicesSection/gates_installation/gates_installation.webp"
									loading="lazy"
									alt="Gates Installation Services"
									aria-hidden="true"
							>
							<span class="hexagon-comb-block__cell-title">
									@@data.@@page.main.services.hexagon.gates
								</span>
						</div>

					</a>
					<a href="./rollers-installation-repair.html"
					   class="hexagon-comb-block__cell"
					   title="@@data.@@page.main.services.hexagon.title"
					   aria-label="Navigate to roller shutters installation services"
					   tabindex="0"
					   data-type="rollers"
					>
						<div class="hexagon-comb-block__cell-inner">
							<img
									src="/assets/img/servicesSection/shutters_installation/shutters_installation.webp"
									loading="lazy"
									alt="Roller Shutters Installation Services"
									aria-hidden="true"
							>
							<span class="hexagon-comb-block__cell-title">
									@@data.index.main.services.hexagon.rollers
								</span>
						</div>
					</a>
					<a href="./gates-rollers-automation.html"
					   class="hexagon-comb-block__cell"
					   title="@@data.@@page.main.services.hexagon.title"
					   aria-label="Navigate to roller automation services"
					   tabindex="0"
					   data-type="automation"
					>
						<div class="hexagon-comb-block__cell-inner">
							<img
									src="/assets/img/servicesSection/roller_automation/roller_automation.webp"
									loading="lazy"
									alt="Roller Automation Services"
									aria-hidden="true"
							>
							<span class="hexagon-comb-block__cell-title">
									@@data.@@page.main.services.hexagon.automation
								</span>
						</div>
					</a>
					<a href="./barriers-installation-repair.html"
					   class="hexagon-comb-block__cell"
					   title="@@data.@@page.main.services.hexagon.title"
					   aria-label="Navigate to barrier installation services"
					   tabindex="0"
					   data-type="barriers"
					>
						<div class="hexagon-comb-block__cell-inner">
							<img
									src="/assets/img/servicesSection/barrier_installation/barrier.webp"
									loading="lazy"
									alt="Barrier Installation Services"
									aria-hidden="true"
							>
							<span class="hexagon-comb-block__cell-title">
									@@data.@@page.main.services.hexagon.barriers
								</span>
						</div>
					</a>
					<a href="./awnings-installation-repair.html"
					   class="hexagon-comb-block__cell"
					   title="@@data.@@page.main.services.hexagon.title"
					   aria-label="Navigate to awnings installation services"
					   tabindex="0"
					   data-type="awnings"
					>
						<div class="hexagon-comb-block__cell-inner">
							<img
									src="/assets/img/servicesSection/awnings_installation/awnings.webp"
									loading="lazy"
									alt="Awnings Installation Services"
									aria-hidden="true"
							>
							<span class="hexagon-comb-block__cell-title">
									@@data.@@page.main.services.hexagon.awnings
								</span>
						</div>
					</a>
					<a href="./security-installation-maintenance.html"
					   class="hexagon-comb-block__cell"
					   title="@@data.@@page.main.services.hexagon.title"
					   aria-label="Navigate to surveillance installation services"
					   tabindex="0"
					   data-type="security"
					>
						<div class="hexagon-comb-block__cell-inner">
							<img
									src="/assets/img/servicesSection/surveillance_installation/surveillance_installation.webp"
									loading="lazy"
									alt="Surveillance Installation Services"
									aria-hidden="true"
							>
							<span class="hexagon-comb-block__cell-title">
									@@data.@@page.main.services.hexagon.security
								</span>
						</div>
					</a>
					<a href="./window-settings-repair.html"
					   class="hexagon-comb-block__cell"
					   title="@@data.@@page.main.services.hexagon.title"
					   aria-label="Navigate to window hardening services"
					   tabindex="0"
					   data-type="windows"
					>
						<div class="hexagon-comb-block__cell-inner">
							<img
									src="/assets/img/servicesSection/window_hardening/window_hardening.webp"
									loading="lazy"
									alt="Window Hardening Services"
									aria-hidden="true"
							>
							<span class="hexagon-comb-block__cell-title">
									@@data.@@page.main.services.hexagon.windows
								</span>
						</div>
					</a>
				</nav>
			</div>
		</div>
	</div>
</section>

}