//@use "mixins" as mix;
@use "./variables" as *;
@use "./media" as media;

///////EXTENDS///////

//padding-top, padding-bottom of the total layer
%sectionWrapper {
  padding-top: 80px;
  padding-bottom: 120px;

  /* tablet (landscape) max-width: 1280px */
  @include media.maxTabletLandscape {
    padding-top: var(--range_80-64_1280-641);
    padding-bottom: var(--range_120-64_1280-641);
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include media.maxMobilePortraitWide {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

//padding-left, padding-right of the total layer
%contentWrapper {
  max-width: $maxContentWidth;
  margin: 0 auto;
  padding-right: 80px;
  padding-left: 80px;

  /* tablet (landscape) max-width: 1280px */
  @include media.maxTabletLandscape {
    padding-right: var(--range_80-32_1280-641);
    padding-left: var(--range_80-32_1280-641);
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include media.maxMobilePortraitWide {
    padding-right: var(--range_32-23_640-320);
    padding-left: var(--range_32-23_640-320);
  }
}