
///DIMENSIONS
$maxViewWidth: 1440px;
$minViewWidth: 320px;
$maxContentWidth: 1280px;

///COLORS
$white: rgba(255, 255, 255, 1); //#fff;
$black: rgba(0, 0, 0, 1); //#000;
$color-01: rgba(255, 133, 2, 1);//#ff8502
$color-01-darken: rgba(204, 82, 0, 1); //#CC5200;
$color-01-darkest: rgba(138, 55, 0, 1); //#8a3700;
$color-02: rgba(40, 32, 23, 1); //#282017;
$color-03: rgba(65, 57, 48, 1); //#413930;
$color-04: rgba(101, 92, 82, 1); //#655c52;
$color-07: rgba(220, 220, 220, 1); //#dcdcdc;
$color-08: rgba(252, 79, 79, 1); //#fc4f4f;
$color-09: rgba(211, 3, 3, 1); //#d30303;
$color-13: rgba(241, 241, 241, 1); //#f1f1f1;
$lemon: rgba(254, 239, 138, 1); //#feef8a;

/// SHADERS
$rgba_opacity-0: rgba(65, 57, 48, 0);
