@forward "./reset";
@forward "./fonts";
@forward "./variables";
@forward "./media";
@forward "./mixins";
@forward "./animations";
@forward "./extends";

@use "variables" as *;
@use "mixins" as mix;
@use "fonts";



/////// VARS //////

:root {
  /*** Desktop → Tablet ***/
  /*** it is allowed to use also like: mix.fluid-value(1280px, 641px, 120px, 64px, rem) ***/
  --range_120-64_1280-641: #{mix.fluid-value(1280, 641, 120, 64, rem)};
  --range_630-480_1280-641: #{mix.fluid-value(1280, 641, 630, 480, rem)};
  --range_210-150_1280-641: #{mix.fluid-value(1280, 641, 190, 150, rem)};
  --range_145-80_1280-641: #{mix.fluid-value(1280, 641, 145, 80, rem)};
  --range_80-64_1280-641: #{mix.fluid-value(1280, 641, 80, 64, rem)};
  --range_80-32_1280-641: #{mix.fluid-value(1280, 641, 80, 32, rem)};
  --range_48-32_1280-641: #{mix.fluid-value(1280, 641, 48, 32, rem)};
  --range_20-18_1280-641: #{mix.fluid-value(1280, 641, 20, 18, rem)};
  --range_20-16_1280-641: #{mix.fluid-value(1280, 641, 20, 16, rem)};
  --range_24-18_1280-641: #{mix.fluid-value(1280, 641, 24, 18, rem)};
  --range_22-18_1280-641: #{mix.fluid-value(1280, 641, 22, 18, rem)};
  --range_18-16_1280-641: #{mix.fluid-value(1280, 641, 18, 16, rem)};
  --range_18-15_1280-641: #{mix.fluid-value(1280, 641, 18, 15, rem)};

  --range_400-330_1280-1025: #{mix.fluid-value(1280, 1025, 400, 330, rem)};
  --range_18-14_1280-769: #{mix.fluid-value(1280, 769, 18, 14, rem)};
  --range_38-24_1280-320: #{mix.fluid-value(1280, 320, 38, 24, rem)};
  --range_48-36_1280-320: #{mix.fluid-value(1280, 320, 48, 36, rem)};

  /*** Mobile (breakpoint 640px) ***/
  --range_32-23_640-320: #{mix.fluid-value(640, 320, 32, 23, rem)};
  --range_670-780_640-320: #{mix.fluid-value(640, 320, 670, 780, rem)};

}

/*html, body {
  scrollbar-gutter: stable; //keeping scrollbar space to eliminate content shifting on scrollbar remove...
}*/

/////// STYLES ///////
body {
  font-family: "Open Sans", "Open Sans Fallback", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  background-color: $color-07;

  user-select: none;
}

/*************TOP BORDER BODY****************/
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  @include mix.box-shadow(0, 10px);
}
/*****************END TOP BORDER BODY************/

h1, h2, h3, h4, h5 {
  font-family: "Roboto", "Roboto Fallback", system-ui, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}

h1 {
  line-height: 1.15;
}

h2, h3, h4, h5 {
  line-height: 1.2;
}