@forward "./reset";
@forward "./fonts";
@forward "./variables";
@forward "./media";
@forward "./mixins";
@forward "./animations";
@forward "./extends";

@use "variables" as *;
@use "mixins" as mix;
@use "fonts";



/////// VARS //////

:root {
  --range_120-64_max-1280px: #{mix.fluid-value(1280, 641, 120, 64, rem)};
  --range_80-64_max-1280px: #{mix.fluid-value(1280, 641, 80, 64, rem)};
  --range_80-32_max-1280px: #{mix.fluid-value(1280, 641, 80, 32, rem)};
  --range_48-32_max-1280px: #{mix.fluid-value(1280, 641, 48, 32, rem)};
  --range_32-23_max-640px: #{mix.fluid-value(640, 320, 32, 23, rem)};
  --range_24-18_max-1280px: #{mix.fluid-value(1280, 641, 24, 18, rem)};
  --range_18-16_max-1280px: #{mix.fluid-value(1280, 641, 18, 16, rem)};

  // Typography scale (rem)
  --range_18-15px_convert-rem_view_max-1280_min-640px: #{mix.fluid-value(1280, 640, 18, 15, rem)};
}

/*html, body {
  scrollbar-gutter: stable; //keeping scrollbar space to eliminate content shifting on scrollbar remove...
}*/

/////// STYLES ///////
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  background-color: $color-07;

  user-select: none;
}

/*************TOP BORDER BODY****************/
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  @include mix.box-shadow(0, 10px);
}
/*****************END TOP BORDER BODY************/

h1, h2, h3, h4, h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}

h1 {
  line-height: 1.25;
}

h2, h3, h4, h5 {
  line-height: 1.2;
}

img, svg, picture, video, object {
  width: 100%;
  max-width: 100%;
  //height: auto;
  //object-fit: cover;
  //object-position: center;
  //vertical-align: top;
}